---
permalink: events/
layout: index
title: Events
cover_bgimage_path: /assets/img/events/070916/background.jpg
cover_image_path: /assets/img/events/070916/masthead@2x.png
events:
  - date: 7.23.16
    description: Craftsman Brewing Special Event
    url: https://www.facebook.com/events/515674518621273/
    upcoming: false
  - date: 5.28.16
    description: Tap Takeover with Deschutes Brewery
    url: https://www.facebook.com/events/238413993190802/
    upcoming: false
  - date: 3.19.16
    description: 7th Anniversary Celebration with Bear Republic
    url: https://www.facebook.com/events/1509058916068395/
    upcoming: false
  - date: 2.27.16
    description: Pliny the Younger On Tap 2016
    url: https://www.facebook.com/events/218503138500652/
    upcoming: false
---

<a href="https://www.facebook.com/events/238413993190802/" target="_blank">
  <div class="events-cover cf-responsive" style="background-image: url({{page.cover_bgimage_path}})">
    <div class="events-cover__content">

      <div class="events-cover__content__image">
        <img src="{{page.cover_image_path}}">
      </div>

      <div class="events-cover__content__text editable">
        7.23.16
        <span>Craftsman Brewing: A Midsummer Beer's Dream</span>
      </div>

    </div>
  </div>
</a>


<div class="events">
  <div class="events__row">

    <div class="events__col">
      <div class="events__col__title">
        Upcoming Events
      </div>

      {% for event in page.events %}
        {% if event.upcoming %}
        <a href="{{event.url}}" target="_blank" class="events__event">
          <span class="events__event__date">{{event.date}}</span>
          <span class="events__event__description">{{event.description}}</span>
        </a>
        {% endif %}
      {% endfor %}

    </div>

    <div class="events__col">
      <div class="events__col__title">
        Past Events
      </div>
      {% for event in page.events %}
        {% if event.upcoming == false %}
        <a href="{{event.url}}" target="_blank" class="events__event">
          <span class="events__event__date">{{event.date}}</span>
          <span class="events__event__description">{{event.description}}</span>
        </a>
        {% endif %}
      {% endfor %}
    </div>

  </div>

  <div class="events__call-to-action">
    <div class="events__call-to-action__container">
      <span>Follow us for the latest news and events</span>
      <a href="{{site.data.settings.social_media.facebook_url}}" target="_blank" class="button button--outline-alt">
        <img src="/assets/img/social-facebook--dark.svg">
        Facebook
      </a>
      <a href="{{site.data.settings.social_media.twitter_url}}" target="_blank" class="button button--outline-alt">
        <img src="/assets/img/social-twitter--dark.svg">
        Twitter
      </a>
    </div>
  </div>

  <div class="events__in-the-press">
    <h2 class="editable">In the Press</h2>
    <div class="editable">
      <h3>LA Magazine</h3>
      <a href="http://www.lamag.com/liquidlablog/l-a-s-top-5-beer-bars/" target="_blank">L.A.’s Top 5 Beer Bars (May 20, 2015)</a>
      <a href="http://www.lamag.com/liquidlablog/beer-frenzy-inside-scoop-taste-pliny-younger/" target="_blank">Beer Frenzy: The Inside Scoop on Where to Taste Pliny the Younger (Febrary 18, 2015)</a>

      <h3>LA Times</h3>
      <a href="http://www.latimes.com/food/dailydish/la-dd-where-to-eat-whittier-20140226-story.html#page=1" target="_blank">Here’s a secret about Whittier: It’s ascending as a great food city (February 26, 2014)</a>
      <a href="http://www.latimes.com/food/dailydish/la-dd-scouting-report-bottle-room-story.html" target="_blank">The Bottle Room: A beer bar with Sichuan-seasoned calamari and next-level shrimp tacos (August 7, 2013)</a>

      <h3>LA Weekly</h3>
      <a href="http://www.laweekly.com/restaurants/whittiers-the-bottle-room-serves-up-a-breaking-bad-inspired-burger-4855184" target="_blank">Whittier’s The Bottle Room Serves Up a Breaking Bad-Inspired Burger (July 16, 2014)</a>
      <a href="http://www.laweekly.com/restaurants/the-bottle-rooms-3rd-anniversary-2383571" target="_blank">The Bottle Room’s 3rd Anniversary (March 9, 2012)</a>
      <a href="http://www.laweekly.com/restaurants/30-burgers-in-30-days-burgers-and-beer-at-the-bottle-room-day-10-2380146" target="_blank">30 Burgers in 30 Days: Burgers &amp; Beer at The Bottle Room (Day 10) (February 14, 2011)</a>

      <h3>San Gabriel Valley Tribune</h3>
      <a href="http://www.sgvtribune.com/arts-and-entertainment/20130808/bottle-room-serves-up-craft-beer-and-some-of-the-best-gastropub-chow-around" target="_blank">Bottle Room serves up craft beer and some of the best gastropub chow around (May 22, 2013)</a>

      <h3>Gayot</h3>
      <a href="http://www.gayot.com/restaurants/los-angeles-best-top-10-craft-beer-bars_bottle-room-ca_2la.html" target="_blank">2015 Top 10 Craft Beer Bars in Los Angeles Area</a>

      <h3>The Food Concierge</h3>
      <a href="http://www.thefoodconcierge.com/blog/tag/the-bottle-room/" target="_blank">A new year at The Bottle Room; Foie-sliders and new Seasonal Creations (February 5, 2015)</a>

      <h3>Food GPS</h3>
      <a href="http://foodgps.com/the-bottle-room-whittier/" target="_blank">The Bottle Room: Craft Beer + Comfort Food in Whittier (December 5, 2013)</a>
      <a href="http://foodgps.com/interview-tony-alcazar-bottle-room/" target="_blank">Interview: Beer Pro Tony Alcazar (May 2, 2013)</a>

      <h3>Beer Search Party</h3>
      <a href="http://www.beersearchparty.com/bottle-room-craftsman/" target="_blank">Bottle Room + Craftsman = (March 3, 2011)</a>

      <h3>Kevin Eats</h3>
      <a href="http://www.kevineats.com/2014/03/the-bottle-room-whittier-ca.html" target="_blank">The Bottle Room (Whittier, CA) (March 10, 2014)</a>

      <h3>Lilac &amp; Lace</h3>
      <a href="http://lilaclace.blogspot.com/2012/09/burger-quest-bottle-room.html" target="_blank">Burger Quest: Bottle Room (September 26, 2012)</a>

      <h3>MyWhittier.com</h3>
      <a href="http://mywhittiercom.blogspot.com/2012/07/whittiers-best-burgers.html" target="_blank">WHITTIER’S BEST BURGERS / Bar & Lounge (July 19, 2012)</a>

    </div>
  </div>

</div>
