---
permalink: location/
layout: index
title: Location
contact_thankyou_message: Thank you for contacting us.
---

<div id="contact-form-thankyou" class="contact-form-thankyou">
  {{page.contact_thankyou_message}}
</div>

<div class="location-cover" id="location-map">
  <a class="location-cover__mobile-link" href="https://www.google.com/maps/place/The+Bottle+Room/@33.979678,-118.037618,16z/data=!4m5!3m4!1s0x0:0x4aac1293cabbb1e7!8m2!3d33.979678!4d-118.037618?hl=en-US"></a>
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.500418899218!2d-118.03761800000001!3d33.979678!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2d3ebebdc0a47%3A0x4aac1293cabbb1e7!2sThe+Bottle+Room!5e0!3m2!1sen!2sjp!4v1460983227244" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>

<div class="location">
  <div class="location__row">

    <div class="location__col location__col--small">
      <div class="location__col__title">
        Location
      </div>

      <span class="location__label">Uptown Whittier</span>
      <span class="location__value">
        <a href="https://www.google.com/maps/place/6741+Greenleaf+Ave,+Whittier,+CA+90601,+USA/@33.9796758,-118.0398032,17z/data=!3m1!4b1!4m2!3m1!1s0x80c2d3ebc221eae5:0x54b2124521a22852?hl=en" target="_blank">{{site.data.settings.location.address_line_1}}
        <br>
        {{site.data.settings.location.address_line_2}}</a>
      </span>

      <span class="location__label">Contact</span>
      <span class="location__value">
        <a href="tel:{{site.data.settings.location.phone_number}}">Phone: {{site.data.settings.location.phone_number}}</a>
        <br>
        Fax: {{site.data.settings.location.fax}}
        <br>
        <a href="mailto:{{site.data.settings.location.email}}">{{site.data.settings.location.email}}</a>
      </span>

    </div>

    <div class="location__col location__col--medium">
      <div class="location__col__title">
        Hours
      </div>
      {% for timePeriod in site.data.hours-display.timePeriods %}
        <span class="location__label">{{timePeriod.label}}</span>
        <span class="location__value">
          {{timePeriod.normalService}}
          {% if timePeriod.breakfast %}
            <br>
            Breakfast: {{timePeriod.breakfast}}
          {% endif %}
        </span>
      {% endfor %}
    </div>

    <div class="location__col location__col--large">
      <div class="location__col__title">
        Send your comments
      </div>

      <form id="contact-form" action="https://formspree.io/{{site.data.settings.send_contact_to}}" method="POST">
        <input type="hidden" name="_next" value="/location?form=true" />
        <input type="hidden" name="_subject" value="Contact from thebottleroom.com" />
        <input type="text" name="_gotcha" style="display:none" />
        <input type="text" name="name" placeholder="Name"></input>
        <input type="text" name="_replyto" placeholder="Email or Phone # (optional)"></input>
        <textarea width="100%" name="message" placeholder="Your message"></textarea>
        <input type="submit" value="Send" class="button button--fill">
      </form>

    </div>

  </div>
</div>
