// --------------------------------------------------
// Mixins
// --------------------------------------------------

@mixin container() {
  max-width: 1440px;
  margin: 0px auto;
  width: 90%;
}

@mixin container-small() {
  max-width: 960px;
  margin: 0px auto;
  width: 90%;
}

@mixin container-large() {
  margin: 0px auto;
  width: 100%;
}
