<footer class="footer">
  <div class="footer__container">

    <div class="footer__popular-items">

      <div class="footer__label">
        Some of our popular menu items
      </div>

      {% for item in site.data.featured-items.featured_items %}
        <a class="button button--outline" href="{{item.item_url}}">{{item.name}}</a>
      {% endfor %}

    </div>

    <div class="footer__row">

      <div class="footer__col">
        <div class="footer__label">
          Events
        </div>

        <!--  kind of ugly markup to iterate through all events  -->
        {% for page in site.pages %}
          {% if page.title == 'Events' %}
            {% for event in page.events %}
              {% if forloop.index <= 4 %}
                <a target="_blank" href="{{event.url}}"><strong>{{event.date}}</strong> &nbsp;&nbsp; {{event.description}}</a>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endfor %}

      </div>

      <div class="footer__col">
        <div class="footer__label">
          Connect with us
        </div>

        <a href="{{site.data.settings.social_media.facebook_url}}" target="_blank">Facebook</a>
        <a href="{{site.data.settings.social_media.instagram_url}}" target="_blank">Instagram</a>
        <a href="{{site.data.settings.social_media.twitter_url}}" target="_blank">Twitter</a>
        <a href="{{site.data.settings.social_media.yelp_url}}" target="_blank">Yelp</a>

        <div class="footer__crest">
          <img src="/assets/img/crest--footer.svg">
        </div>

      </div>

    </div>

  </div>

  <div class="footer__etc">

    <div class="footer__etc__container">

      <a href="/">&copy; 2016 The Bottle Room</a>
      <a href="/menu/eats">Menu</a>
      <a href="tel:{{site.data.settings.location.phone_number}}">{{site.data.settings.location.phone_number}}</a>
      <a href="http://www.cubicflow.com">Made by Cubicflow</a>

    </div>

  </div>

</footer>
