<!doctype html>
<html lang="{{ site.language}} ">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% if page.title %}{{ page.title }} &ndash; {% endif %}{{ site.title }}</title>
  <meta name="description" content="{{ site.description }}" />
  <meta name="google-site-verification" content="{{ site.google-verification }}">
  <link rel="apple-touch-icon" sizes="57x57" href="/assets/favicon/apple-touch-icon-57x57.png?v=KmmpQAAWyK">
  <link rel="apple-touch-icon" sizes="60x60" href="/assets/favicon/apple-touch-icon-60x60.png?v=KmmpQAAWyK">
  <link rel="apple-touch-icon" sizes="72x72" href="/assets/favicon/apple-touch-icon-72x72.png?v=KmmpQAAWyK">
  <link rel="apple-touch-icon" sizes="76x76" href="/assets/favicon/apple-touch-icon-76x76.png?v=KmmpQAAWyK">
  <link rel="apple-touch-icon" sizes="114x114" href="/assets/favicon/apple-touch-icon-114x114.png?v=KmmpQAAWyK">
  <link rel="apple-touch-icon" sizes="120x120" href="/assets/favicon/apple-touch-icon-120x120.png?v=KmmpQAAWyK">
  <link rel="apple-touch-icon" sizes="144x144" href="/assets/favicon/apple-touch-icon-144x144.png?v=KmmpQAAWyK">
  <link rel="apple-touch-icon" sizes="152x152" href="/assets/favicon/apple-touch-icon-152x152.png?v=KmmpQAAWyK">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/favicon/apple-touch-icon-180x180.png?v=KmmpQAAWyK">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-32x32.png?v=KmmpQAAWyK" sizes="32x32">
  <link rel="icon" type="image/png" href="/assets/favicon/android-chrome-192x192.png?v=KmmpQAAWyK" sizes="192x192">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-96x96.png?v=KmmpQAAWyK" sizes="96x96">
  <link rel="icon" type="image/png" href="/assets/favicon/favicon-16x16.png?v=KmmpQAAWyK" sizes="16x16">
  <link rel="manifest" href="/assets/favicon/manifest.json?v=KmmpQAAWyK">
  <link rel="mask-icon" href="/assets/favicon/safari-pinned-tab.svg?v=KmmpQAAWyK" color="#383736">
  <link rel="shortcut icon" href="/assets/favicon/favicon.ico?v=KmmpQAAWyK">
  <meta name="apple-mobile-web-app-title" content="The Bottle Room">
  <meta name="application-name" content="The Bottle Room">
  <meta name="msapplication-TileColor" content="#D45044">
  <meta name="msapplication-TileImage" content="/assets/favicon/mstile-144x144.png?v=KmmpQAAWyK">
  <meta name="msapplication-config" content="/assets/favicon/browserconfig.xml?v=KmmpQAAWyK">
  <meta name="theme-color" content="#383736">

  <link id="snipcart-theme" type="text/css"
    href="https://cdn.snipcart.com/themes/base/snipcart.min.css"
    rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/app.css">

</head>
<body class="cf-snipcart{% if site.data.settings.online_ordering_enabled %} can-order{% endif %}">
