<div class="modal" id="hours-modal">

  <div class="modal__overlay">

  </div>

  <div class="modal__content editable">

    <div class="modal__close"></div>

    <div class="modal__content__scroll">
      <span class="modal__content__open-label">Monday</span>
      <span class="modal__content__open-time">3pm - 12am (Happy Hour ALL DAY)</span>

      <span class="modal__content__open-label">Tuesday - Thursday</span>
      <span class="modal__content__open-time">3pm - 12am (Happy Hour 3pm - 7pm)</span>

      <span class="modal__content__open-label">Friday</span>
      <span class="modal__content__open-time">12pm - 12am (Happy Hour 12pm - 7pm)</span>

      <span class="modal__content__open-label">Saturday</span>
      <span class="modal__content__open-time">Breakfast 8am - 11:30am</span>
      <span class="modal__content__open-time">12pm - 12am</span>

      <span class="modal__content__open-label">Sunday</span>
      <span class="modal__content__open-time">Breakfast 8am - 11:30am</span>
      <span class="modal__content__open-time">12pm - 10pm (Happy Hour ALL DAY)</span>
    </div>


  </div>

</div>
