<div id="menu-dropdown" class="menu-dropdown">
  <div class="menu-dropdown__container">
    <div id="menu-dropdown-button" class="menu-dropdown__button">
      Categories
    </div>
    <div class="menu-dropdown__links">
      <ul>
        {% assign menu = site.menu | sort: 'sidebar_order' %}
        {% for category in menu %}

          <li class="menu-dropdown__links__dropdown">
            {{ category.title }}
            <ul>
            {% for subcategory in category.subcategories %}
              <li><a href="{{category.url}}#{{subcategory.name | slugify}}">{{ subcategory.name }}</a></li>
            {% endfor %}
            </ul>
          </li>

        {% endfor %}
      </ul>
    </div>
  </div>
</div>
