<div class="nav-expanded">
  <div class="nav-expanded__container">

    <div class="nav-expanded__crest">
      <img src='/assets/img/crest--dark.svg'>
    </div>

    <div class="nav-expanded__back">
      back
    </div>

    <nav class="nav-expanded__links nav-expanded__links--level1">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Craft Beer</a></li>
        <li><a href="#">Location</a></li>
        <li><a href="#">More</a></li>
      </ul>
    </nav>

    <nav class="nav-expanded__links nav-expanded__links--level2">
      <ul>
        <li><a href="#">Events</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Chef&nbsp;Tony</a></li>
      </ul>
    </nav>

    <div class="nav-expanded__social">
      <a class="nav-expanded__social__button" href="#"><img src="/assets/img/instagram--mobile.svg"></a>
      <a class="nav-expanded__social__button" href="#"><img src="/assets/img/twitter--mobile.svg"></a>
      <a class="nav-expanded__social__button" href="#"><img src="/assets/img/facebook--mobile.svg"></a>
      <a class="nav-expanded__social__button" href="#"><img src="/assets/img/yelp--mobile.svg"></a>
    </div>

  </div>
</div>
