<div class="nav-expanded">
  <div class="nav-expanded__container">

    <div id="close-nav" class="nav__expand active">
      <div class="nav__expand__circle">
        <div class="nav__expand__line nav__expand__line--top">
        </div>
        <div class="nav__expand__line nav__expand__line--bottom">
        </div>
      </div>
    </div>

    <div class="nav-expanded__crest">
      <img src='/assets/img/crest--dark.svg'>
    </div>

    <div id="nav-back" class="nav-expanded__back">
      <img src="/assets/img/back.svg">
      back
    </div>

    <nav class="nav-expanded__links nav-expanded__links--level1">
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/menu/eats">Menu</a></li>
        <li><a href="/menu/ontap">Craft Beer</a></li>
        <li><a href="/location">Location</a></li>
        <li><a id="nav-more">More</a></li>
      </ul>
    </nav>

    <nav class="nav-expanded__links nav-expanded__links--level2">
      <ul>
        <li><a href="/events">Events</a></li>
        <li><a href="/gallery">Gallery</a></li>
        <li><a href="/chef">Chef&nbsp;Tony</a></li>
      </ul>
    </nav>

    <div class="nav-expanded__social">
      <a class="nav-expanded__social__button" href="{{site.data.settings.social_media.instagram_url}}" target="_blank"><img src="/assets/img/social-instagram--dark.svg"></a>
      <a class="nav-expanded__social__button" href="{{site.data.settings.social_media.twitter_url}}" target="_blank"><img src="/assets/img/social-twitter--dark.svg"></a>
      <a class="nav-expanded__social__button" href="{{site.data.settings.social_media.facebook_url}}" target="_blank"><img src="/assets/img/social-facebook--dark.svg"></a>
      <a class="nav-expanded__social__button" href="{{site.data.settings.social_media.yelp_url}}" target="_blank"><img src="/assets/img/social-yelp--dark.svg"></a>
    </div>

  </div>
</div>
