<div class="nav-expanded">
  <div class="nav-expanded__container">

    <div id="close-nav" class="nav__expand active">
      <div class="nav__expand__circle">
        <div class="nav__expand__line nav__expand__line--top">
        </div>
        <div class="nav__expand__line nav__expand__line--bottom">
        </div>
      </div>
    </div>

    <div class="nav-expanded__crest">
      <img src='/assets/img/crest--dark.svg'>
    </div>

    <div id="nav-back" class="nav-expanded__back">
      <img src="/assets/img/back.svg">
      back
    </div>

    <nav class="nav-expanded__links nav-expanded__links--level1">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Menu</a></li>
        <li><a href="#">Craft Beer</a></li>
        <li><a href="#">Location</a></li>
        <li><a id="nav-more">More</a></li>
      </ul>
    </nav>

    <nav class="nav-expanded__links nav-expanded__links--level2">
      <ul>
        <li><a href="#">Events</a></li>
        <li><a href="#">Gallery</a></li>
        <li><a href="#">Chef&nbsp;Tony</a></li>
      </ul>
    </nav>

    <div class="nav-expanded__social">
      <a class="nav-expanded__social__button" href="#"><img src="/assets/img/instagram--dark.svg"></a>
      <a class="nav-expanded__social__button" href="#"><img src="/assets/img/twitter--dark.svg"></a>
      <a class="nav-expanded__social__button" href="#"><img src="/assets/img/facebook--dark.svg"></a>
      <a class="nav-expanded__social__button" href="#"><img src="/assets/img/yelp--dark.svg"></a>
    </div>

  </div>
</div>
