.events-cover {
  position: relative;
  width: 100%;
  background-size: cover;
  background-position: center;
  padding: 80px 0px 40px 0px;
  min-height: $cover-min-height;
  @include small-cover-bottom-margin();

  &__content {
    @include container-small();

    &__image {

      text-align: center;
      margin-bottom: 40px;

      img {
        width: 90%;
        max-width: 350px;
        max-height: 206px;
      }
    }

    &__text {
      text-align: center;
      @include font-size--xlarge();
      font-family: $font-family--light;
      color: $cream;

      span {
        display: block;
        text-align: center;
        font-size: $font-size--small;
        font-family: $font-family--regular;
      }
    }
  }
}

.events {
  &__row {
    @include container();
    @include grid-row();
  }

  &__col {
    @include grid-column(12, 0px);
    margin-bottom: 40px;

    @include breakpoint(medium) {
      @include grid-column(6, 40px);
    }

    &__title {
      @include subcategory-title();
    }
  }

  &__event {

    position: relative;
    display: block;
    color: $cream;
    margin-bottom: 20px;

    @include breakpoint(large) {
      margin-bottom: 30px;
    }


    &__date {
      font-family: $font-family--bold;
      font-size: $font-size--small;
      width: 70px;
      height: 100%;
      position: absolute;
    }

    &__description {
      font-family: $font-family--light;
      font-size: $font-size--xsmall;
      margin-left: 90px;
      display: block;

    }
  }

  &__call-to-action {
    background-color: $cream;
    width: 100%;
    color: $grey-warm--medium;
    padding: 20px 0px 20px 0px;

    &__container {
      @include container-large();
      text-align: center;
    }

    span {
      display: block;
      margin-bottom: 15px;
    }
  }

  &__in-the-press {
    @include container-xsmall();
    @include small-cover-top-margin();
    @include small-cover-bottom-margin();
    text-align: center;

    h3 {
      display: block;
      @extend h6;
      font-family: $font-family--bold;
      @include small-cover-top-margin();
    }

    a {
      display: block;
      color: $cream;
      font-family: $font-family--light;
      margin-bottom: 10px;

      &:visited {
        color: $cream;
      }

      &:hover {
        color: $brick--lighter;
      }

    }
  }

}
