// --------------------------------------------------
// Layout index page
// --------------------------------------------------


body {
  background-image: url(/assets/img/tile-concrete--dark@2x.jpg);
  background-repeat: repeat;
  background-size: 200px 200px;
  min-width: 300px;
  max-width: none;
  overflow: auto;
}

html {
  max-width: none;
  overflow: auto;
}

.slide {
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow: visible;
  padding: 60px 0px 60px 0px;

  background-size: cover;
  background-position: center;

  @include breakpoint(medium) {
    min-height: 1vh;
    height: 100vh;
    max-height: 960px;
  }

  &--atmosphere {
    background-image: url(/assets/img/home/hero-atmosphere.jpg);
  }
  &--pairings {
    background-image: url(/assets/img/home/hero-pairings.jpg);

    &__row {
      @include grid-row();
    }

    &__col {
      @include grid-column(4,0px);
      min-height: 140px;
      line-height: 140px;

      @include breakpoint(large) {
        @include grid-column(2,0px);
      }

      img {
        max-height: 140px;
        vertical-align: middle;
      }
    }
  }
  &--moment {
    background-image: url(/assets/img/home/hero-taps.jpg);

    &__row {
      @include grid-row();
    }

    &__col {
      @include grid-column(6,0px);
      min-height: 140px;
      margin-top: 20px;

      font-size: 64px;
      font-family: $font-family--light;
      line-height: 1em;

      @include breakpoint(medium) {
        //@include grid-column(6,0px);
        margin-top: 40px;
      }

      @include breakpoint(large) {
        @include grid-column(3,0px);
      }

      span {
        display: block;
        @include font-size--xsmall();
        font-family: $font-family--regular;
        margin-top: 20px;
      }

      img {
        display: inline-block;
        margin: 0px auto 10px auto;
        max-height: 140px;
      }
    }
  }

  &--inspired {
    background-image: url(/assets/img/home/hero-charcuterie.jpg);
  }

  &.active {

    .slide__content {
      opacity: 1;
      transform: translateY(0px);
    }

    .slide__overlay {
      opacity: 0.60;
    }

  }

  &__content {
    @include container-xsmall();
    opacity: 0;
    position: relative;
    z-index: 1;
    transition: 0.7s;
    transform: translateY(10px);
  }

  &__overlay {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: absolute;
    background-color: $near-black;
    opacity: 0;
    transition: 0.5s;
  }

}
