.location-cover {
  position: relative;
  background-color: $beige;
  @include small-cover-bottom-margin();
  min-height: $cover-min-height;
  overflow: hidden;

  iframe {
    width: 100%;
    border: 0px;
    pointer-events: none;
    min-height: $cover-min-height;
    cursor: grab;
  }

  &.active {
    iframe {
      pointer-events: all;
    }
  }

  &__mobile-link {
    width: 100%;
    height: 100%;
    position: absolute;

    @include breakpoint(medium) {
      pointer-events: none;
    }
  }
}

.location {
  @include container();

  &__row {
    @include grid-row();
  }

  &__col {
    @include grid-column(12);
    @include small-cover-bottom-margin();

    &--small {
      @include breakpoint(medium) {
        @include grid-column(6);
      }
      @include breakpoint(large) {
        @include grid-column(3);
      }
    }

    &--medium {
      @include breakpoint(medium) {
        @include grid-column(6);
      }
      @include breakpoint(large) {
        @include grid-column(4);
      }
    }

    &--large {
      @include breakpoint(large) {
        @include grid-column(5);
      }
    }

    &__title {
      @include subcategory-title();
    }
  }

  &__label {
    @extend .menu__subcategory__item__title;
    display: block;
    text-transform: uppercase;
    margin-top: 40px;
  }

  &__value {
    @extend .menu__subcategory__item__description;
    display: block;
  }

}



.contact-form-thankyou {
  width: 100%;
  padding: 15px;
  text-align: center;
  background-color: $brick;
  @include font-size--small();
  font-family: $font-family--light;
  opacity: 0;
  transform: translateY(-40px);
  position: absolute;
  transition: all 0.3s;
  pointer-events: none;


  &.active {
    opacity: 0.9;
    transform: translateY(0px);
  }
}
