// --------------------------------------------------
// Layout index page
// --------------------------------------------------

.menu-cover {
  margin-top: 0px;
  width: 100%;
  background-image: url(/assets/img/home/hero-pairings.jpg);
  background-size: cover;
  background-position: center;
  @include cover-min-height();
}


.menu {
  @include container();
  padding: 0px 0px 30px 0px;
  overflow: auto;

  &__sidebar {
    @include small-cover-top-margin();
    @include show-for(medium);
    width: 200px;
    position: absolute;

    @include breakpoint(large) {
      width: 230px;
    }

    &__category {

      a {
        @include font-size--xlarge();
        line-height: 1em;
        font-family: $font-family--alt;
        color: $cream;
        display: block;
        margin-bottom: 35px;

        &.active {
          opacity: 1;
        }
      }

      &__subcategories {

        margin-bottom: 40px;

        a {
          font-size: $font-size--small;
          font-family: $font-family--regular;
          display: block;
          margin: 10px 0px 20px 20px;
          opacity: 0.6;

          &:hover {
            opacity: 1;
          }
        }
      }
    }
  }


  &__body {
    @include small-cover-top-margin();
    position: relative;
    margin-left: 0px;
    min-height: 500px;

    @include breakpoint(medium) {
      margin-left: 200px;
    }

    @include breakpoint(large) {
      margin-left: 230px;
    }

  }


  &__subcategory {
    @include grid-row();

    &__title {
      @include subcategory-title();
    }

    &__item {
      @include grid-column(12, 0px);
      margin-bottom: 40px;

      @include breakpoint(large) {
        @include grid-column(6, 0px);

        &:nth-child(odd){
          padding-left: 20px;
        }
        &:nth-child(even){
          padding-right: 20px;
        }
      }

      &__title {
        font-size: $font-size--small;
        font-family: $font-family--bold;
        margin-bottom: 5px;
      }

      &__description {
        font-size: $font-size--xsmall;
        font-family: $font-family--light;
        margin-bottom: 10px;
      }

      &__price {
        font-size: $font-size--xsmall;
        font-family: $font-family--regular;
        float: left;
      }


      &__bag {
        opacity: 0.6;
        display: block;
        float: right;

        &:hover {
          opacity: 1.0;
        }

        &.disabled {
          opacity: 0.2;
          pointer-events: none;
        }

        span {
          font-size: 12px;
          font-family: $font-family--regular;
          color: $cream;
          padding-right: 10px;
        }

      }
    }
  }

}

.menu-status-bar {
  width: 100%;
  background-color: $brick;
  height: 50px;
  text-align: center;
  @include font-size--xsmall();
  line-height: 50px;
  font-family: $font-family--light;

  opacity: 0;
  margin-top: 0px;
  pointer-events: none;
  transition: opacity 0.5s;

  @include breakpoint(medium) {
    margin-top: -100%;
  }

  &.active {
    opacity: 1;
    margin-top: 60px;
    pointer-events: all;

    @include breakpoint(medium) {
      margin-top: 0px;
    }
  }
}
