
.chef-cover {
  width: 100%;
  background-color: $cream;
  background-image: url(/assets/img/tile-concrete--light@2x.jpg);
  overflow: auto;


  &__container {
    @include container-small();
    color: $grey-warm--medium;
    @include font-size--medium();
    font-family: $font-family--light;
    @include small-cover-top-margin;
    @include small-cover-bottom-margin;
  }

}

.chef {

  background-color: $cream;
  background-image: url(/assets/img/tile-concrete--light@2x.jpg);
  overflow: auto;

  &__photo {
    width: 100%;
    background-color: $beige;
    @include small-cover-bottom-margin;
  }

  &__container {
    @include container-small();
    color: $grey-warm--medium;
    font-size: $font-size--small;
    @include small-cover-bottom-margin;
  }

  &__row {
    @include grid-row();
    margin: 20px 0px;
    @include breakpoint(medium){
      margin: 40px 0px 30px 0px;
    }
  }

  &__col {
    @include grid-column(12);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;


    @include breakpoint(medium) {
      @include grid-column(4);
    }

    &__number {
      display: block;
      font-family: $font-family--light;
      font-size: 64px;
      margin-bottom: 30px;
    }
  }

  &__menu {
    font-family: $font-family--light;
    @include font-size--medium();
    text-align: center;

    a {
      margin-top: 60px;
      margin-bottom: 40px;
    }
  }
}
