.cart-bar {
  width: 100%;
  min-height: 50px;
  background-color: $beige;
  position: fixed;
  bottom: 0px;
  line-height: 50px;
  z-index: 10;
  text-align: center;

  &__container {
    position: relative;

    @include breakpoint(medium) {
      @include container-small();
    }
  }

  &__text {
    color: $grey-warm--xdark;
    letter-spacing: 1px;
    position: absolute;
    left: 0px;
    top: 0px;
    height: 50px;
    width: 50%;
    transition: all 0.2s;

    &:hover {
      background-color: $cream;
    }

  }

  &__subtotal {
    position: absolute;
    right: 0px;
    top: 0px;
    height: 50px;
    width: 50%;
    background-color: $brick;
    color: $cream;
    display: block;
    transition: all 0.2s;

    &:hover {
      background-color: $brick--tint;
      color: $white;
    }
  }

}
