.modal {

  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
  transform: translateY(50px);

  &.active {
    opacity: 1;
    pointer-events: all;
    transform: translateY(0px);
  }

  &__close {
    position: absolute;
    z-index: 1001;
    top: 10px;
    right: 10px;
    width: 19px;
    height: 19px;
    padding: 11px;
    box-sizing: content-box;
    background-image: url(/assets/img/collapse--dark.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    cursor: pointer;
  }

  &__content {
    width: 90%;
    height: 80%;
    top: 10%;
    max-height: 500px;
    max-width: 500px;
    background-color: $cream;
    margin: 0px auto;
    position: relative;
    z-index: 1001;
    color: $grey-warm--dark;

    &__scroll {
      width: 100%;
      height: 100%;
      position: absolute;
      overflow: scroll;
      padding: 20px;
    }

    &__open-label {
      display: block;
      margin-top: 20px;
      font-family: $font-family--bold;
      font-size: $font-size--small;
      text-transform: uppercase;
    }

    &__open-time {
      display: block;
      font-family: $font-family--light;
      font-size: $font-size--xsmall;
    }
  }

  &__overlay {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    display: block;
    position: absolute;
    z-index: 1000;
    background-color: fade-out($near-black, 0.6);
  }

}
