.nav {
  position: relative;
  height: 80px;
  z-index: 99;

  &--solidbg {
    background-color: $grey-warm--xdark;
  }

  &__container {
    position: relative;
    @include container();
  }

  &__logo {
    float: left;
    img {
      margin-top: 15px;
      height: 50px;
      width: 51px;
    }
  }

  &__button {

    @include show-for(medium);
    
    @extend .button, .button--outline;
    margin-top: 20px;
    margin-left: 0px;
    float: left;
    min-width: 0px;


  }

  &__links {

    float: right;
    @include show-for(medium);

    ul {
      margin-top: 10px;
      margin-bottom: 0px;
    }

    li {

      margin: 0px;
      display: inline-block;
      position: relative;

      &:first-child {
        margin-left: 0px;
      }

      @include breakpoint(medium) {
        margin-left: 8px;
      }
      @include breakpoint(large) {
        margin-left: 15px;
      }


      // HOVER EFFECTS FOR DROPDOWN
      // ul.nav__links__dropdown
      &:hover {
        ul {
          opacity: 1;
          pointer-events: all;
          transform: translateY(0px);
        }
      }

    }

    a {
      display: block;
      color: fade-out($cream, 0.6);
      transition: all 0.3s;
      text-transform: uppercase;
      padding-top: 20px;
      padding-bottom: 28px;
      letter-spacing: 1px;
      font-size: $font-size--xsmall;

      @include breakpoint(medium) {
        padding-left: 8px;
      }
      @include breakpoint(large) {
        padding-left: 15px;
      }


      &:hover {
        color: $cream;
      }
      &.active {
        color: $cream;
      }
    }

    &__dropdown {
      position: absolute;
      top: 60px;
      right: 0px;
      background-color: $grey-warm--xdark;
      opacity: 0;
      text-align: right;
      margin: 0px -15px 0px 0px;
      padding: 20px 15px 5px 0px;
      min-width: 150px;
      pointer-events: none;
      transform: translateY(-40px);
      transition: 0.2s all;

      li {
        margin: 0px 0px 0px 0px;
        padding: 0px;
        opacity: 1;
      }

      a {
        padding: 0px 0px 15px 20px;
      }

    }

  }

  &__expand {

    @include hide-for(medium);
    position: absolute;
    z-index: 99;
    right: 0px;
    top: 20px;



    &.active {

      .nav__expand__line--top {
        top: 19px;
        transform: rotate(45deg);
        background-color: $grey-warm--dark;
      }
      .nav__expand__line--bottom {
        top: 19px;
        transform: rotate(-45deg);
        background-color: $grey-warm--dark;
      }
    }

    &__circle {
      display: block;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      border: 1px solid fade-out($grey-warm--medium, 0.6);
    }

    &__line {

      background-color: $cream;
      width: 20px;
      height: 1px;
      position: absolute;
      transition: all 0.3s ease-in-out;

      &--top {
        left: 9px;
        top: 15px;
      }
      &--bottom {
        left: 9px;
        top: 22px;
      }
    }
  }

}
