.nav {
  @include container();
  position: relative;
  height: 80px;
  z-index: 100;

  &__logo {
    float: left;
    img {
      margin-top: 15px;
      height: 50px;
      width: 51px;
    }
  }

  &__button {

    @extend .button, .button--outline;
    margin-top: 20px;
    margin-left: 0px;
    float: left;
    min-width: 0px;
  }

  &__links {

    float: right;
    @include show-for(medium);

    ul {
      margin-top: 10px;
    }

    li {

      margin: 0px;
      display: inline-block;

      &:first-child {
        margin-left: 0px;
      }

      @include breakpoint(medium) {
        margin-left: 8px;
      }
      @include breakpoint(large) {
        margin-left: 15px;
      }

    }

    a {
      display: block;
      color: fade-out($cream, 0.6);
      transition: all 0.3s;
      text-transform: uppercase;
      padding-top: 20px;
      letter-spacing: 1px;
      font-size: $font-size--xsmall;

      @include breakpoint(medium) {
        padding-left: 8px;
      }
      @include breakpoint(large) {
        padding-left: 15px;
      }


      &:hover {
        color: $cream;
      }
      &.active {
        color: $cream;
      }
    }
  }

  &__expand {

    @include hide-for(medium);
    position: absolute;
    right: 0px;
    top: 20px;

    &.active, &:hover {
      .nav__expand__line--top {
        top: 19px;
        transform: rotate(45deg);
        background-color: $grey-warm--dark;
      }
      .nav__expand__line--bottom {
        top: 19px;
        transform: rotate(-45deg);
        background-color: $grey-warm--dark;
      }
    }

    &__circle {
      display: block;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      border: 1px solid fade-out($grey-warm--medium, 0.6);
    }

    &__line {

      background-color: $cream;
      width: 20px;
      height: 1px;
      position: absolute;
      transition: all 0.3s ease-in-out;

      &--top {
        left: 9px;
        top: 15px;
      }
      &--bottom {
        left: 9px;
        top: 22px;
      }
    }
  }

}
