.cf-snipcart {

  #snipcart-main-container {

    font-family: $font-family--regular;

    // BUTTON BASE STYLES
    a.snipcart-btn {
      background: $brick;
      border: none;
      text-shadow: none;
      color: $cream;
    }

    // PRIMARY ACTION BUTTON
    a.snipcart-next, .cf-snipcart #snipcart-main-container a.snipcart-finalize, .cf-snipcart #snipcart-main-container a.snipcart-mainaction {
      background: $brick;
      border: none;
      text-shadow: none;
      color: $cream;
    }


    // HEADER
    #snipcart-header {

      background: $beige;

      #snipcart-total {
        .snipcart-label {

        }
      }

      #snipcart-title {
        text-transform: capitalize;
        font-family: $font-family--alt;
        font-size: $font-size--xlarge;
        color: $grey-warm--dark;
      }

    }


    // MAIN TABLE
    table.snipcart-list {

      // TABLE LABELS
      th {
        font-family: $font-family--regular;
      }

      span.snipcart-product-name {
        font-family: $font-family--regular;
      }
    }

  }

  // POWERED BY SNIPCART ICON
  #snipcart-footer #snipcart-powered {
      display: none;
  }

}
